[Unit]
Description=Nextcloud client service

[Service]
Type=simple
StandardOutput=journal
ExecStart=/usr/bin/nextcloud --background --logfile -

[Install]
WantedBy=default.target
